<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles/output.css') }}"
        />
        <style>
            @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Roboto:wght@100&display=swap');
        </style>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Noto+Serif+JP:wght@200&family=Roboto:wght@100&display=swap');
        </style>
        <title>{% block title %}Home{% endblock %}</title>
        <link
            rel="icon"
            href="http://res.cloudinary.com/hkg08nm4g/image/upload/v1654292189/favicon.gif"
        />
    </head>
    <body>
        <header>{% include "main/navbar.html" %}</header>
        <main>{% block content %} {% endblock %}</main>
        <footer>{% include "main/footer.html" %}</footer>
    </body>
</html>
