<div class="container mx-auto max-w-5xl px-7">
    <h1
        class="my-6 flex items-center px-6 font-petitEn text-2xl text-[#ABAC70] before:mr-4 before:h-[1px] before:grow before:bg-[#ABAC70] before:content-[''] after:mb-2 after:ml-4 after:h-[1px] after:grow after:bg-[#ABAC70] after:content-['']"
    >
        CONCEPT
    </h1>
    <div class="mx-auto max-w-3xl px-7">
        <p class="leading-loose md:pl-8 md:text-xl">
            Petit
            Chaton（プチシャトン）とは『小さな愛らしい子猫』という意味。<br />
            あなたを見つめる無邪気な子猫のように、つい心惹かれてしまうような<br />
            その愛らしさに、見ているだけで幸せな気持ちになれるような<br />
            ずっと大切にそばに置いておきたくなる<br />
            そんなキャットモチーフのジュエリーをお届けします。
        </p>
    </div>
    <img
        src="http://res.cloudinary.com/hkg08nm4g/image/upload/v1654290969/concept.jpg"
        class="mx-auto mt-5 w-full max-w-4xl object-cover"
    />
</div>
