<div class="mt-5">
    <h1
        class="mt-12 mb-12 font-petitEn after:mb-2 px-3 text-[#ABAC70] text-4xl items-center flex before:content-[''] before:h-[1px] before:grow before:bg-[#ABAC70] before:mr-4 after:content-[''] after:h-[1px] after:grow after:bg-[#ABAC70] after:ml-4"
    >
        CONCEPT
    </h1>
    <div class="mx-auto max-w-3xl px-5">
        <p class="leading-loose md:text-xl md:pl-8">
            Petit
            Chaton（プチシャトン）とは『小さな愛らしい子猫』という意味。<br />
            あなたを見つめる無邪気な子猫のように、つい心惹かれてしまうような<br />
            その愛らしさに、見ているだけで幸せな気持ちになれるような<br />
            ずっと大切にそばに置いておきたくなる<br />
            そんなキャットモチーフのジュエリーをお届けします。
        </p>
    </div>
    <img
        src="http://res.cloudinary.com/hkg08nm4g/image/upload/v1654290969/concept.jpg"
        alt="ブランドコンセプト画像"
        style="width: 100%; max-width: 900px; object-fit: cover"
        class="d-block mx-auto"
    />
</div>
