<li>
    <a
        class="md: group inline-block md:pt-1"
        href="https://www.amazon.co.jp/s?me=A2ONY0P3RXK8ZB&marketplaceID=A1VC38T7YXB528"
        target="_blank"
        rel="noopener noreferrer"
    >
        <img
            src="http://res.cloudinary.com/hkg08nm4g/image/upload/v1655241741/icon-shop.gif"
            class="h-7 pt-1"
        />
        <div
            class="mt-0.5 block w-0 border-b-[1.5px] border-white transition-all duration-200 md:group-hover:w-full"
        ></div>
    </a>
</li>
<li>
    <a
        class="md: group inline-block md:pt-1"
        href="https://www.instagram.com/petitchaton_pc/"
        target="_blank"
        rel="noopener noreferrer"
    >
        <img
            src="http://res.cloudinary.com/hkg08nm4g/image/upload/v1655241804/icon-instagram.gif"
            class="h-7 pt-1"
        />
        <div
            class="mt-0.5 block w-0 border-b-[1.5px] border-white transition-all duration-200 md:group-hover:w-full"
        ></div>
    </a>
</li>
