<nav
    class="navbar navbar-expand-lg navbar-light"
    style="background-color: rgba(171, 172, 112, 1)"
>
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img
                src="http://res.cloudinary.com/hkg08nm4g/image/upload/v1654291695/logo.gif"
                alt="ロゴ"
                style="height: 25px"
            />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"></li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
                <li class="nav-item">
                    <a
                        class="nav-link text-decoration-none"
                        href="https://www.amazon.co.jp/s?me=A2ONY0P3RXK8ZB&marketplaceID=A1VC38T7YXB528"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <img
                            src="http://res.cloudinary.com/hkg08nm4g/image/upload/v1654291509/icon-shop.gif"
                            alt="ショップアイコン"
                            style="height: 25px"
                        />
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link text-decoration-none"
                        href="https://www.instagram.com/petitchaton_pc/"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <img
                            src="http://res.cloudinary.com/hkg08nm4g/image/upload/v1654291577/icon-instagram.gif"
                            alt="Instagramアイコン"
                            style="height: 25px"
                        />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
