<nav
    class="navbar navbar-expand-lg navbar-light"
    style="background-color: rgba(171, 172, 112, 1)"
>
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img
                src="../static/images/items/main/PC-logo-W.gif"
                alt="ロゴ"
                style="height: 30px"
            />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"></li>
            </ul>
            <a
                class="text-light"
                href="https://www.instagram.com/petitchaton_pc/"
            >
                <i class="fab fa-instagram fa-2x"></i>
            </a>

            <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
                <li class="nav-item"></li>
            </ul>
        </div>
    </div>
</nav>
