{% extends "main/base.html" %} {% block title %}ホーム{% endblock %} {% block
content %}
<div>
    <img
        src="../static/images/items/main/PCwebsite-main.jpg"
        alt="メイン画像"
        style="width: 100%; object-fit: cover"
    />
</div>
<div class="row mt-5">
    <h1 class="text-center head-border" style="color: rgba(171, 172, 112, 1)">
        COLLECTION
    </h1>
    <a
        class="card mb-3 col-md-6 text-dark text-decoration-none border border-0"
        style="max-width: 100%"
        href="https://www.amazon.co.jp/%EF%BC%BBPetit-Chaton-%E3%83%97%E3%83%81%E3%82%B7%E3%83%A3%E3%83%88%E3%83%B3-SV925-%E3%83%94%E3%83%B3%E3%82%AF%E3%82%B4%E3%83%BC%E3%83%AB%E3%83%89-%E3%83%94%E3%83%B3%E3%82%AF%E3%83%88%E3%83%AB%E3%83%9E%E3%83%AA%E3%83%B3/dp/B0B1CM1LM2/?_encoding=UTF8&pd_rd_w=Hv1tn&pf_rd_p=09fc5329-add5-4943-82f6-96f98cfdada8&pf_rd_r=8SXWJQR41RV1QW2ASQRD&pd_rd_r=ff0d0a44-df37-4a1a-9e10-86102075988c&pd_rd_wg=unw0o&ref_=pd_gw_ci_mcx_mr_hp_atf_m&th=1"
    >
        <div class="row g-0">
            <div class="col-5">
                <img
                    src="../static/images/items/main/PCwebsite-PC002.jpg"
                    alt="蝶々ネックレスの画像"
                    class="card-img-top"
                    style="height: 100%; object-fit: cover"
                />
            </div>
            <div class="col-7">
                <div class="card-body">
                    <h6 class="card-title">BUTTERFRY NECKLACE</h6>
                    <small class="card-text">
                        天然石が輝く蝶々と、それを見つめる愛らしい猫<br />
                        ティアドロップ型が上品な雰囲気に見せてくれます
                    </small>
                    <p class="my-3 text-center more-button">more ></p>
                </div>
            </div>
        </div>
    </a>
    <a
        class="card mb-3 col-md-6 text-dark text-decoration-none border border-0"
        style="max-width: 100%"
        href="https://www.amazon.co.jp/%EF%BC%BBPetit-Chaton-%E3%83%97%E3%83%81%E3%82%B7%E3%83%A3%E3%83%88%E3%83%B3-%E3%82%AD%E3%83%A5%E3%83%BC%E3%83%93%E3%83%83%E3%82%AF%E3%82%B8%E3%83%AB%E3%82%B3%E3%83%8B%E3%82%A2-1-%E3%83%94%E3%83%B3%E3%82%AF%E3%82%B4%E3%83%BC%E3%83%AB%E3%83%89/dp/B09WM36SVZ/?_encoding=UTF8&pd_rd_w=Hv1tn&pf_rd_p=09fc5329-add5-4943-82f6-96f98cfdada8&pf_rd_r=8SXWJQR41RV1QW2ASQRD&pd_rd_r=ff0d0a44-df37-4a1a-9e10-86102075988c&pd_rd_wg=unw0o&ref_=pd_gw_ci_mcx_mr_hp_atf_m"
    >
        <div class="row g-0">
            <div class="col-5">
                <img
                    src="../static/images/items/main/PCwebsite-PC001.jpg"
                    alt="三日月ネックレスの画像"
                    class="card-img-top"
                    style="height: 100%; object-fit: cover"
                />
            </div>
            <div class="col-7">
                <div class="card-body">
                    <h6 class="card-title">MOONLIT NECKLACE</h6>
                    <small class="card-text">
                        三日月にちょこんと座る猫と、寄り添うハート<br />
                        ロマンティックなモチーフは大切な人への贈り物にもおすすめです
                    </small>
                    <p class="my-3 text-center more-button">more ></p>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="mt-5">
    <img
        src="../static/images/items/main/PCwebsite-concept.jpg"
        alt="ブランドコンセプト画像"
        style="width: 100%; max-width: 1000px; object-fit: cover"
        class="d-block mx-auto"
    />
    <div class="mx-auto mt-3" style="max-width: 530px">
        <p>
            Petit Chaton（プチシャトン）とは『小さな愛らしい子猫』という意味。
        </p>
        <p>あなたを見つめる無邪気な子猫のように、つい心惹かれてしまうような</p>
        <p>その愛らしさに、見ているだけで幸せな気持ちになれるような</p>
        <p>ずっと大切にそばに置いておきたくなる</p>
        <p>そんなキャットモチーフのジュエリーをお届けします。</p>
    </div>
</div>
{% endblock %}
