{% extends "main/base.html" %} {% block title %}ホーム{% endblock %} {% block
content %}
<div class="row">
    <a
        class="card mb-3 col-md-6 text-dark text-decoration-none"
        style="max-width: 100%"
        href="https://www.amazon.co.jp/%EF%BC%BBPetit-Chaton-%E3%83%97%E3%83%81%E3%82%B7%E3%83%A3%E3%83%88%E3%83%B3-SV925-%E3%83%94%E3%83%B3%E3%82%AF%E3%82%B4%E3%83%BC%E3%83%AB%E3%83%89-%E3%83%94%E3%83%B3%E3%82%AF%E3%83%88%E3%83%AB%E3%83%9E%E3%83%AA%E3%83%B3/dp/B0B1CM1LM2/?_encoding=UTF8&pd_rd_w=Hv1tn&pf_rd_p=09fc5329-add5-4943-82f6-96f98cfdada8&pf_rd_r=8SXWJQR41RV1QW2ASQRD&pd_rd_r=ff0d0a44-df37-4a1a-9e10-86102075988c&pd_rd_wg=unw0o&ref_=pd_gw_ci_mcx_mr_hp_atf_m&th=1"
    >
        <div class="row g-0">
            <div class="col-5">
                <img
                    src="../static/images/items/main/PC002-PG-B-main.jpg"
                    alt="蝶々ネックレスの画像"
                    class="card-img-top"
                />
            </div>
            <div class="col-7">
                <div class="card-body">
                    <h4 class="card-title">蝶々ネックレス</h4>
                    <p class="card-text">
                        すっきりとしたフォルムは様々なコーディネートに合わせやすく、胸元を美しく輝かせます。
                    </p>
                </div>
            </div>
        </div>
    </a>
    <a
        class="card mb-3 col-md-6 text-dark text-decoration-none"
        style="max-width: 100%"
        href="https://www.amazon.co.jp/%EF%BC%BBPetit-Chaton-%E3%83%97%E3%83%81%E3%82%B7%E3%83%A3%E3%83%88%E3%83%B3-%E3%82%AD%E3%83%A5%E3%83%BC%E3%83%93%E3%83%83%E3%82%AF%E3%82%B8%E3%83%AB%E3%82%B3%E3%83%8B%E3%82%A2-1-%E3%83%94%E3%83%B3%E3%82%AF%E3%82%B4%E3%83%BC%E3%83%AB%E3%83%89/dp/B09WM36SVZ/?_encoding=UTF8&pd_rd_w=Hv1tn&pf_rd_p=09fc5329-add5-4943-82f6-96f98cfdada8&pf_rd_r=8SXWJQR41RV1QW2ASQRD&pd_rd_r=ff0d0a44-df37-4a1a-9e10-86102075988c&pd_rd_wg=unw0o&ref_=pd_gw_ci_mcx_mr_hp_atf_m"
    >
        <div class="row g-0">
            <div class="col-5">
                <img
                    src="../static/images/items/main/PC001-PG-P-main.jpg"
                    alt="三日月ネックレスの画像"
                    class="card-img-top"
                />
            </div>
            <div class="col-7">
                <div class="card-body">
                    <h4 class="card-title">三日月ネックレス</h4>
                    <p class="card-text">
                        柔らかな曲線の猫の後ろ姿と、ひときわ輝くハートのストーンが繊細で優しい印象に魅せてくれます。
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>
{% endblock %}
