<aside class="w-64" aria-label="Sidebar">
    <div class="h-screen bg-gray-700 py-4 px-3">
        <a href="./" class="mb-5 flex items-center pl-2.5">
            <img
                src="http://res.cloudinary.com/hkg08nm4g/image/upload/v1654291695/logo.gif"
                class="mr-3 h-6 sm:h-7"
            />
        </a>
        {% if current_user.is_authenticated %} {% include
        "common/login_side_item.html" %} {% else %} {% include
        "common/logout_side_item.html" %} {% endif %}
    </div>
</aside>
